body {
 font-family: Roboto Medium;
 font-size: 16px;
 }

.clearfix::after {
 content: "";
 height:0;
 display: table;
 clear: both;
  }
.main-header{
  height:330px;
  background-color:#eeeeee;
  }
.container {
 width: 880px;
 margin: 0 auto;
 padding: 0 10px;
  }
.header-top {
 padding-top: 28px;
 margin-bottom: 75px;
    }
.logo {
 float: left;
 margin-right: 180px;
  }
.main-navigation {
 float: left;}

.main-navigation ul {
 padding: 0;
 padding-top: 28px;
 margin: 0;
 list-style: none;
}
.main-navigation ul li {
   display: inline-block;
   vertical-align: top;
}

.main-navigation li a {
  margin-right: 45px;
  line-height: 30px;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;}

li:last-child a {
  margin-right: 0;
  }
.basket {
   width: 70px;
   float: right;
   margin-top: 33px;
   margin-left: 22px;
   padding-left: 30px;
   font-weight: 600;
   }
.a-basket {
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
  text-decoration: none;}

.welcome {
width: 500px;
margin-left: 108px;
font-weight: 40px;
 }
.main-left {
   width: 240px;
   float: left;
   margin-top: 81px;
   margin-right:80px;
 }
 fieldset.price {
  height: 170px;
  margin-bottom: 52px;
 }
 fieldset.grid {
  height:143px;
  margin-bottom: 51px;
 }
 fieldset.special {
  height: 221px;
  margin-bottom: 58px;
 }
 .main-right {
  width: 560px;
  float: right;
  margin-top: 81px;
}
.sort {
  margin-bottom: 25px;
}
.sort h3 {
 display: inline-block;
 vertical-align: top;
 padding:0;
 margin: 0;
}
form.sort-on {
  display: inline-block;
  vertical-align: top;
  margin-left: 41px;
}
section.layouts {
 height: 972px;
}
.layouts div {
 display: inline-block;
 margin-right: 80px;
 margin-bottom: 80px;
}
.layouts div:nth-child(2n) {
 margin-right: 0;
}
.main-footer {
 margin-top: 170px;
 /*Для лучшей видимости*/
}

.social {
 width: 300px;
 height: 216px;
 float: left;
}
.friends {
 width: 500px;
 float: right;
}
.friends h1,
.friends p {
 display: inline;
}
