body {
 font-family: Roboto Medium;
 font-size: 16px;
 }
.clearfix {
 content: "";
 display: table;
 clear: both;
 }
.main-header{
 min-height:440px;
 background-color:#eeeeee;
 }
.container {
 width:880px;
 margin: 0 auto;
 padding: 0 10px;
 /*background-color: rgba(255, 0, 0, 0.2);*/
 }
 .logo {
  float: left;
  width: 140px;
  height: 56px;
  margin-top: 28px;
  margin-bottom: 77px;

 }
 .main-navigation {
  width: 480px;
  float: left;
  margin-top: 40px;
  margin-left: 160px;


 }
 .main-navigation li {
   display: inline-block;
   vertical-align: top;

 }
 .main-navigation li a {
  margin-right: 45px;
  line-height: 30px;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;

}
li:last-child a {
margin-right: 0;
}
.basket {
 width: 65px;
 float: right;
 margin-top: 63px;
 padding-left: 35px;
 padding-right: 0;

}
.a-basket {
 text-transform: uppercase;
 font-size: 14px;
 color: #000000;
 text-decoration: none;

}
.slider {
 width:880px;
 margin-top: 53px;
}
.slider-content {
 width: 380px;
 float: left;
}
.slogan {
font-size: 36px;
line-height: 36px;
}
.slider-content p {
margin-bottom: 30px;
line-height: 22px;
font-size: 16px;
}
a.btn {
  line-height: 18px;
  padding: 15px 70px;
  border-radius: 3px;
  background-color: #fb565a;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  }

.slider-images {
 width: 390px;
 float: right;
}

.service-content {
  width: 240px;
  float: left;
  margin-right: 80px;
  margin-top: 80px;

}
.service-content:last-child {
  margin-right: 0;
}
.service-content h2 {
 font-family: Roboto Medium;
 font-size: 18px;
 line-height: 30px;
 font-weight: 600;
 text-transform: uppercase;
 margin-top: 30px;
}
.service-content p {
  font-family: Roboto Medium;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  margin-top: 28px;
}
.btn-order {
  display: block;
  width: 100px;
  height: 26px;
  padding-top: 14px;
  padding-left: 40px;
  margin-top: 30px;
  line-height: 18px;
  font-size: 12px;
  border-radius: 3px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;}
.btn-order.red {
 background-color:#fb565a;
}
.btn-order.green {
 background-color: #00ca74;
}
.btn-order.yellow {
 background-color: #efc84a;
}
.about-us {
 width: 880px;
 margin-top: 80px;
 padding-top: 60px;
 border-top: 2px solid #eeeeee;
}
.about-us-left {
 width: 540px;
 float: left;
 margin-right: 80px;
}
.about-us-left p b {
  font-size: 36px;
  line-height: 36px;
}
.our-work h2 {
  margin-top: 50px;
  font-size: 16px;
  line-height: 22px;
  font-weight:500;
  text-transform: uppercase;
}
.our-work p {
 margin-left: 38px;
 line-height: 31px;
}

.about-us-right {
 width:260px;
 float: right;
}
.how-we-work {
 margin-top: 63px;
}
.how-we-work h2 {
 font-size: 16px;
 line-height: 22px;
 font-weight: 500;
 text-transform:uppercase;
}
.how-we-work p {
  margin-left: 38px;
  line-height: 31px;
}

.partners {
  height: 165px;
  margin-top: 75px;
  margin-bottom: 85px;
  padding-top: 45px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.map {
 width: 1200px;
 height: 420px;
 background: blue url("img/forte.jpg");
 margin-left: -160px;
}


.main-footer .social {
  width: 240px;
  height: 215px;
  float: left;
  background-color: yellow;
}
.main-footer .friends {
  width: 560px;
  float: right;
  margin-left: 80px;
  margin-top: 80px;
}
  .friends h1 {
   font-size: 36px;
   line-height: 36px;}
