body {
 min-width: 900px;
 font-family: "Roboto", "Trebuchet MS", sans-serif;
 font-size: 16px;
 }
.clearfix::after {
 content: "";
 height:0;
 display: table;
 clear: both;
 }
.main-header{
 height:440px;
 background-color:#eeeeee;
 }
.container {
 width: 880px;
 margin: 0 auto;
 padding: 0 10px;
 }
.header-top {
 padding-top:28px;
 }
.logo {
 float: left;
 margin-right: 180px;
 }

.main-navigation {
 width: 430px;
 float: left;
 margin-top: 28px;
 margin-bottom: 60px;
 }

.main-navigation ul {
 padding: 0;
 margin: 0;
 list-style: none;
 }

.main-navigation li {
 display: inline-block;
 vertical-align: top;
 }
.main-navigation a,
.main-navigation span {
 margin-right: 45px;
 line-height: 30px;
 text-decoration: none;
 font-size: 14px;
 color: #000000;
 text-transform: uppercase;
 font-weight: 500;
}
.main-navigation a:hover {
 color: #fb565a;
}
.main-navigation a:active {
 color: #8f8f8f;
}

li:last-child a {
margin-right: 0;
}

.basket {
 float: right;
 margin-top: 33px;
 padding-left: 30px;
 position: relative;
 font-weight: 500;
}

.a-basket {
 text-transform: uppercase;
 font-size: 14px;
 color: #000000;
 text-decoration: none;
}

.a-basket::after {
 content:"";
 width: 15px;
 height: 15px;
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -8px;
 margin-left: -44px;
 background: url("../img/sprite.png") no-repeat -5px -5px;
}

.a-basket:hover {
 color: #fb565a;
}
.a-basket:hover::after {
background-position: -5px -30px;
}
.a-basket:active {
 color: #8f8f8f;
}
.a-basket:active::after {
 background-position: -5px -5px;
 opacity: 0.6;
}

.slider {
 width:880px;
}
.slider-content {
 width: 380px;
 float: left;
}
.slogan {
 font-size: 36px;
 line-height: 36px;
}
.slider-content p {
 margin-bottom: 30px;
 line-height: 22px;
 font-size: 16px;
}
a.btn {
 line-height: 18px;
 padding: 15px 70px;
 border-radius: 3px;
 background-color: #fb565a;
 font-size: 12px;
 color: #ffffff;
 text-decoration: none;
 text-transform: uppercase;
 }

.slider-images {
 width: 390px;
 float: right;
}
.service {
  margin-top: 80px;
}
.service-content {
 width: 240px;
 float: left;
 margin-right: 80px;
 margin-bottom: 80px;
 }
.service-content:last-child {
 margin-right: 0px;
 }
.service-content h2 {
 font-size: 18px;
 line-height: 30px;
 font-weight: 500;
 text-transform: uppercase;
 }
.service-content p {
 margin-top: 5px;
 margin-bottom:0;
 font-size: 15px;
 line-height: 22px;
 }
.btn-order {
 display: block;
 width: 60px;
 border-radius: 3px;
 margin-top: 25px;
 padding: 13px 40px;
 font-size: 12px;
 color: #ffffff;
 text-decoration: none;
 text-transform: uppercase;
}
.btn-order.red {
 background-color:#fb565a;
}
.red:hover{
 background-color:#d6494d;
}
.red:active{
 background-color:#b63538;
 box-shadow: 0 3px 0 0 #9b2d30 inset;
}
.btn-order.green {
 background-color: #00ca74;
}
.green:hover {
 background-color:#01a25e;
}
.green:active{
 background-color:#009053;
 box-shadow: 0 3px 0 0 #007b47 inset;
}
.btn-order.yellow {
 background-color: #efc84a;
}
.yellow:hover {
 background-color:#d6ae2c;
}
.yellow:active {
 background-color: #c09b24;
 box-shadow: 0 3px 0 0 #a3841f inset;
 }
.about-us {
 padding-top: 58px;
 border-top: 2px solid #eeeeee;
 }
.about-us-left {
 width: 540px;
 float: left;
 margin-right: 80px;
 }
.about-us-left p b {
 line-height: 36px;
 font-size: 36px;
 margin: 0;
}
.about-us-left p:last-of-type {
 width: 590px;
 margin-top: 20px;
 margin-bottom: 0;
 line-height: 22px;
 }
.our-work h2 {
 margin-top: 43px;
 margin-bottom: 0;
 font-size: 16px;
 line-height: 22px;
 font-weight: 400;
 text-transform: uppercase;
 }
.our-work ul li {
 margin-top: 25px;
 padding-left: 37px;
 position: relative;
 }
.our-work-list li::before {
 content: "";
 width: 25px;
 height: 2px;
 position: absolute;
 top: 9px;
 left: 1px;
 border-bottom: 2px solid #fb565a;
 }

.about-us-right {
 width: 260px;
 float: right;
 }
.about-us-right figure{
 margin-top: 5px;
 }
.logo2 {
 position: relative;
 right: 20px;
}
.how-we-work {
 margin-top: 63px;
 margin-left:20px;
}

.how-we-work h2 {
 font-size: 16px;
 line-height: 22px;
 font-weight: 400;
 text-transform:uppercase;
}
.our-work-list,
.how-we-work-list {
 list-style: none;
 margin: 0;
 padding: 0;
}
.how-we-work-list li {
 margin-top: 25px;
 padding-left: 37px;
 position: relative;
}
.how-we-work-list li:before {
 content: "";
 width: 25px;
 height: 2px;
 position: absolute;
 top: 9px;
 left: 1px;
 border-bottom: 2px solid #fb565a;


}

.partners {
 margin-top: 75px;
 padding-top: 46px;
 padding-bottom: 38px;
 border-top: 2px solid #eeeeee;
 border-bottom: 2px solid #eeeeee;
}
.partners a {
 display: inline-block;
 vertical-align: middle;
 opacity: 0.2;
 }
 .partners a:hover {
  opacity:1;
 }
.partners a:first-child{
 margin-left: 10px;
 margin-right: 120px;
}
.partners a:nth-child(2){
 margin-right: 120px;
}
.main-footer {
 margin-top: 400px;
}
.main-footer .social {
 float: left;
 font-size: 0;
 }
.social a {
 display: inline-block;
 vertical-align: top;
 width: 62px;
 height: 62px;
 margin-right: 27px;
 position: relative;
 border-radius: 50%;
 background-color: #e1e1e1;
 font-size: 0;
}
.social a:last-child {
 margin-right: 0;
}
.social a:hover{
 background-color: #fb565a;
}
.social a:active{
 background-color: #d6494d;
 box-shadow: 0 3px 0 0 #b63e42 inset;
}
.social a::before {
 content:"";
 position: absolute;
 top: 50%;
 left: 50%;
 background-image: url("../img/sprite.png");
 background-repeat: no-repeat;
 transform: translate(-50%,-50%);
 }

.social .vk::before {
 width: 26px;
 height: 15px;
 background-position: -5px -377px;
 }
.social .facebook:before {
 width: 12px;
 height: 22px;
 background-position: -5px -234px;
 }
.social .instagramm:before {
 width: 21px;
 height: 21px;
 background-position: -5px -266px;
 }
.main-footer .friends {
 float: left;
 margin-left: 79px;
}
.friends h2 {
 font-size: 36px;
 line-height: 36px;
 margin: 0;
 }
.friends p {
 margin-top: 10px;
 font-size: 16px;
 line-height: 22px;
 }

     /*Page2-Catalog*/


.catalog-header{
 background-color:#eeeeee;
 }

.main-navigation span {
 display: block;
 border-bottom: 2px solid #fb565a;

 }
a.active:hover, a.active:active {
 color: #000000;
}

.welcome {
 width: 740px;
 margin: 0 auto;
 padding-bottom: 87px;
 text-align: center;
 font-size: 40px;
 font-weight: 400;
 text-transform: uppercase;
}

.main-left {
  width: 240px;
  float: left;
  margin-top: 78px;
  margin-right:80px;
}
.main-left fieldset {
 border: none;
 margin: 0;
 padding: 0;
 }
fieldset legend {
 margin: 0;
 padding: 0;
 font-size: 18px;
 text-transform: uppercase;
}

fieldset.price {
 height: 170px;
 margin-bottom: 52px;
 }
.range-block {
 height: 41px;
 margin-top: 20px;
 padding: 0 30px;
 padding-top: 39px;
 position: relative;
 background-color:#f1f1f1;
 border-radius: 5px;
 }
.range-block .scale {
 height: 2px;
 background-color: #d7dcde;
 }
.green-bar {
 height: 2px;
 background-color: #00ca74;
 }
.range-block .toggle {
 width: 4px;
 height: 4px;
 position: absolute;
 top: 30px;
 left: 30px;
 border-radius: 50%;
 background-color: #ababab;
 border: 8px solid #ffffff;
 box-shadow: 0 2px 1px 0 #cfcfcf;
 cursor: pointer;
 }
.range-block .max-toggle {
 left: 145px;
 }

.price-block {
 margin-top: 15px;
 white-space: nowrap;
}
.min-price,
.max-price {
 line-height: 22px;
 text-transform: uppercase;
}
.min-price {
 margin-right: 14px;
}
.price-block input {
 width: 60px;
 padding: 8px 9px;
 border: none;
 background-color: #f1f1f1;
 border-radius: 5px;
 text-align: center;
 margin-left: 9px;
 }

fieldset.grid {
  height:143px;
  margin-bottom: 51px;
  }
.grid legend,
.special legend {
 margin-bottom: 21px;
}
.grid input {
 display: none;
}
.grid label {
 display: block;
 padding-left:40px;
 margin-bottom: 21px;
 position: relative;
 font-weight: 600;
 opacity: 0.8;
 cursor: pointer;
 }

.grid label::before {
 content: "";
 width: 20px;
 height: 20px;
 position: absolute;
 top: 50%;
 left: 0%;
 margin-top: -12px;
 border: 3px solid #c1c1c1;
 border-radius: 50%;
 }
.grid label::after {
 content:"";
 width: 9px;
 height: 9px;
 position: absolute;
 top: 0%;
 left: 0%;
 margin-left: 8.5px;
 margin-top: 6px;
 background-color: #c1c1c1;
 border-radius: 50%;
 display: none;
 }

.grid input:checked + label::after {
 display: block;
 }

fieldset.special {
 height: 221px;
 margin-bottom: 58px;
}
.special input {
 display: none;
}
.special label {
 display: block;
 padding-left: 40px;
 margin-bottom: 21px;
 position: relative;
 font-weight: 600;
 opacity: 0.8;
 cursor: pointer;
}

.grid label:hover,
.special label:hover {
 opacity:1;
}

.grid label:first-of-type,
.special label:first-of-type {
 opacity: 0.4;
}

.special label::before {
 content:"";
 position: absolute;
 left: 0;
 background-image: url("../img/sprite.png");
 background-repeat: no-repeat;
 width: 27px;
 height: 23px;
 background-position: -5px -88px;
 }

.special input:checked + label::before {
 background-position: -5px -121px;
}

.main-left button {
 width: 150px;
 height: 40px;
 text-align: center;
 margin: 0;
 border: none;
 border-radius: 5px;
 background-color: #f1f1f1;
 font-size: 12px;
 font-weight: 600;
 outline: none;
 text-transform: uppercase;
}
.main-left button:hover {
 background-color: #e5e5e5;
 }
.main-left button:active {
 background-color: #d5d5d5;
 box-shadow: 0 3px 0 0 #b5b5b5 inset;
 }

.main-right {
 width: 560px;
 float: right;
 margin-top: 78px;
 }
.sort {
 margin-bottom: 25px;
 position: relative;
 font-size:0;
 }
.sort h3 {
 display: inline-block;
 vertical-align: top;
 padding:0;
 margin: 0;
 font-size: 12px;
 line-height: 18px;
 text-transform: uppercase;
 }
.sort-list {
 display: inline-block;
 vertical-align: top;
 margin:0;
 margin-left: 41px;
 padding: 0;
 font-size: 0;
 list-style: none;
 }
.sort-list li {
 display: inline-block;
 vertical-align:top;
 margin-left: 44px;
 font-size: 12px;
 line-height: 18px;
 text-transform: uppercase;
 cursor: pointer;
 }
.sort-list li:first-child {
 margin:0;
 }
.sort-list li:nth-child(-n+2) {
 color: #b2b2b2;
 border-bottom: 1px dotted #00ca74;
 }
.sort-list li:not(.arrows):hover {
 color: #000000;
 border-bottom: 1px solid #00ca74;
 }
.sort .sort-list li:active {
 border: none;
 }
.sort-list .arrows {
 width:29px;
 height:12px;
 margin-left: 100px;
 margin-top: 3px;
 position: relative;
 border: none;
 }
.arrow {
 width: 11px;
 height: 10px;
 position: absolute;
 background-image: url("../img/sprite.png");
 }
.arrow-down {
 left: 20%;
 background-position: -5px -194px;
 }
.arrow-down:hover {
 background-position: -5px -174px;
 }
.arrow-down:active {
 background-position: -5px -154px;
 }
.arrow-up {
 top: 0;
 right: 0;
 background-position: -5px -317px;
 }
.arrow-up:active {
 background-position: -5px -297px;
 }
.layouts {
 font-size: 0;
}
.layouts article {
 display: inline-block;
 vertical-align: top;
 margin-right: 80px;
 margin-bottom: 80px;
 }
.layouts article:nth-child(2n) {
  margin-right: 0;
 }
.layouts article:nth-child(n+5){
 margin-bottom: 0;
 }
.pagination {
 margin-top: 80px;
 font-size: 0;
 }
.pagination a {
 margin-right: 10px;
 padding: 10.5px 15px;
 display: inline-block;
 border-radius: 3px;
 font-size: 12px;
 text-transform: uppercase;
 text-decoration: none;
 color: #000000;
 font-weight: 600;
}
.pagination .active {
 border: 2px solid #f1f1f1;
 padding: 8.5px 13px;
 }
.pagination a:not(.active) {
 background-color: #f1f1f1;
 }
.pagination a:not(.active):hover {
 background-color: #e5e5e5;
 }
 .pagination a:not(.active):active {
 background-color: #d5d5d5;
 box-shadow: 0 3px 0 0 #b5b5b5 inset;
 }
.pagination .next {
 padding: 10.5px 31px;
}
