body {
 font-family: Roboto;
 font-size: 16px;
 }
.clearfix::after {
 content: "";
 height:0;
 display: table;
 clear: both;
 }
.main-header{
 height:440px;
 background-color:#eeeeee;
 }
.container {
 width: 880px;
 margin: 0 auto;
 padding: 0 10px;

 }
 .header-top {
  padding-top:28px;
  }
.logo {
 float: left;
 margin-right: 180px;
 }

.main-navigation {
  width: 460px;
  float: left;
  margin-top: 28px;
  margin-bottom: 60px;


}
.main-navigation ul {
 padding: 0;
 margin: 0;
 list-style: none;
}

.main-navigation ul li {
   display: inline-block;
   vertical-align: top;

 }
.main-navigation li a {
  margin-right: 45px;
  line-height: 30px;
  text-decoration: none;
  font-size: 14px;
  font-family: Roboto;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;

}
li:last-child a {
margin-right: 0;
}
.basket {
 width: 70px;
 float: right;
 margin-top: 33px;
 padding-left: 30px;
 font-weight: 500;

}
.a-basket {
 text-transform: uppercase;
 font-size: 14px;
 color: #000000;
 text-decoration: none;

}
.slider {
 width:880px;
}
.slider-content {
 width: 380px;
 float: left;
}
.slogan {
font-size: 36px;
line-height: 36px;
}
.slider-content p {
margin-bottom: 30px;
line-height: 22px;
font-size: 16px;
}
a.btn {
  line-height: 18px;
  padding: 15px 70px;
  border-radius: 3px;
  background-color: #fb565a;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  }

.slider-images {
 width: 390px;
 float: right;
}
.service {
  margin-top: 80px;
}
.service-content {
  width: 240px;
  float: left;
  margin-right: 80px;
  margin-bottom: 80px;


}
.service-content:last-child {
 margin-right: 0px;

}
.service-content h2 {
 font-family: Roboto Medium;
 font-size: 18px;
 line-height: 30px;
 font-weight: 600;
 text-transform: uppercase;
 margin-top: 30px;
}
.service-content p {
  font-family: Roboto Medium;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  margin-top: 28px;
}
.btn-order {
 display: block;
 width: 100px;
 height: 26px;
 padding-top: 14px;
 padding-left: 40px;
 margin-top: 30px;
 line-height: 18px;
 font-size: 12px;
 border-radius: 3px;
 color: #ffffff;
 text-decoration: none;
 text-transform: uppercase;
}
.btn-order.red {
 background-color:#fb565a;
}
.btn-order.green {
 background-color: #00ca74;
}
.btn-order.yellow {
 background-color: #efc84a;
}
.about-us {
 padding-top: 60px;
 border-top: 2px solid #eeeeee;
}
.about-us-left {
 width: 540px;
 float: left;
 margin-right: 80px;
}
.about-us-left p b {
  font-size: 36px;
  line-height: 36px;
}
.our-work h2 {
  margin-top: 50px;
  font-size: 16px;
  line-height: 22px;
  font-weight:500;
  text-transform: uppercase;
}
.our-work p {
 margin-left: 38px;
 line-height: 31px;
}

.about-us-right {
 width: 260px;
 float: right;
}
figure.logo-since {
 margin: 0;
 padding: 0;
}
.logo2 {
 position: relative;
 left: 20px;
}

.how-we-work {
 margin-top: 63px;
}

.how-we-work h2 {
 font-size: 16px;
 line-height: 22px;
 font-weight: 500;
 text-transform:uppercase;
}
.our-work ul,
.how-we-work ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.partners {
  height: 165px;
  margin-top: 75px;
  margin-bottom: 85px;
  padding-top: 45px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.main-footer .social {
  width: 240px;
  height: 215px;
  float: left;
  background-color: yellow;
}
.main-footer .friends {
  width: 560px;
  float: right;
  margin-left: 80px;
  margin-top: 80px;
}
  .friends h1 {
   font-size: 36px;
   line-height: 36px;}
